@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);

body {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Header */
header nav {
  float: right;
  margin-top: 10px;
}

header li {
  float: left;
  display: inline;
  padding: 0 10px 0 10px;
}

header .active {
  font-weight: bold;
}

header a {
  font-size: 20px;
  text-decoration: none;
  color:#262626;
}

header a:hover {
  color:#A6A6A6;
}

/* Banner */

.banner h1 {
  margin-top: 150px;
  color:#262626;
}

.banner p {
  color: #737373;
}

.third {
  margin-top: 10px;
}

#typed {
  text-align: center;
  color:#262626;
}

.link img {
  width: 30px;
  height: 30px;
  margin: 10px;
  display: inline-block;
}

.link img:hover {
  width: 33px;
  height: 33px;
}

.link a {
  text-decoration: none;
}

.third {
  margin-bottom: 275px;
}

.profile {
  margin-top: 25px;
  background-color: black;
  height: 500px;
  color: white;
}

.profile img {
  margin-top: 75px;
  width: 200px;
  border-radius: 100%;
}

.judul h3{
  margin-top: 25px;
}

.kalimat {
  margin-top: 125px;
}

.logo {
  width: 50px;
  height: 50px;
}

.skills {
  margin-top: 25px;
  margin-bottom: 75px;
}

.skil {
  margin-top: 20px;
}

.kontak {
  margin-top: 30px;
  margin-bottom: 40px;
}

.follow {
  margin-top: 125px;
  margin-bottom: 50px;
}

.col h3 a {
    color: black;
    text-decoration: none;
}

.col h3 a:hover {
    color: gray;
    text-decoration: none;
}

.portfolio {
  margin-bottom: 50px;
}

.gregweb {
    width: 100%;
}

.wumbeeweb {
  width: 100%;
}